*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color:rgb(48, 57, 67);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    /* display: none; */
}
.container h1{
    font-size: 10vw;
    background: linear-gradient(to right, white, rgba(0, 68, 255, 0.592), rgba(255, 0, 208, 0.493));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container h2{
    font-size: 4vw;
    color: rgba(240, 248, 255, 0.699);
}
.prompt-area{
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0;
    background-color:rgb(48, 57, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
}

#prompt{
    background-color: rgba(240, 248, 255, 0.422);
    width: 60%;
    height: 60%;
    padding: 20px;
    outline: none;
    border: 2px solid rgba(45, 50, 55);
    border-right: none;
    border-radius: 30px 0px 0px 30px;
    box-shadow: inset 2px 2px 10px black, inset -2px -4px 10px black, 
    -2px -4px 10px black;
    font-size: 20px;
    color: white;
}
#prompt::placeholder {
    color: white;
    opacity: 1; /* Make sure the placeholder color is fully visible */
}

#btn{
    width: 10%;
    height: 60%;
    background: rgb(20, 180, 214);
    border: none;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    transition: 0.5s all;
    border: 2px solid rgba(45, 50, 55);
    border-left: none;
}

#btn:hover{
    background: rgba(20, 178, 214, 0.637);
}

.chat-container{
    width: 100%;
    max-height: calc(100vh - 80px);
    /* max-height: 100vh; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.user-chat-box{
    width: 70%;
    padding: 20px;
    display: flex;
    background-color: rgb(75, 145, 209);
    border-radius: 30px 30px 0px 30px;
    color: rgba(255, 255, 255, 0.813);
    font-size: 20px;
    box-shadow: 2px 2px 10px black;
}
.ai-chat-box{
    width: 70%;
    padding: 20px;
    display: flex;
    background-color: rgba(75,147, 209, 0.164);
    border-radius: 30px 30px 30px 0px;
    color: rgba(255, 255, 255, 0.813);
    font-size: 20px;
    box-shadow: 2px 2px 10px black;
}
.img{
    width: 80px;
    height: 100%;
}
